{
    "root": true,
    "extends": [
        "eslint-config-moxy/es8",
        "eslint-config-moxy/addons/node",
        "eslint-config-moxy/addons/object-spread",
        "eslint-config-moxy/addons/jest"
    ]
}
